# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/.idea.MadBirds.iml
/contentModel.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../../:\Projects\Unity\MadBirds\MadBirds\.idea\.idea.MadBirds\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
